@{
    ViewData["Title"] = "Search Student";
}
## Search Student

<form asp-action="Search" method="post">
    <div class="form-group">
        <label>Roll Number</label>
        <input name="rollNumber" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>